<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/main" class="navbar-brand">Whms</a>
        <div class="d-flex ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="globalNavbar">
            {{#userName}}
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item">
                    <a href="/main/contents" class="nav-link">contents</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </li>
                Hello <span id="user">{{userName}}</span>
            </ul>
            {{/userName}}

            {{^userName}}
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item">
                    <a class="nav-link" href="/main/signIn2">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main/signUp2">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/oauth2/authorization/google" role="button" class="btn btn-success active">Google Login</a>
                </li>
            </ul>
            {{/userName}}
        </div>
    </div>
</nav>