{{>layout/header}}
{{>layout/navi}}
<h1> Work Lists </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/contents/works" role="button" class="btn btn-primary"> Works </a>
        </div>
    </div>

</div>
{{>layout/footer}}