<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
    </head>
    <body>
        Hello Main
        <button onclick="workFunction()"> 일정관리 메뉴</button>
        <button onclick="studyFunction()"> 학습관리 메뉴</button>
        <button onclick="projectFunction()"> 프로젝트관리 메뉴</button>
    </body>
    <script type="text/javascript">
        function workFunction() {
            console.log("=== work function is called.");
            location.href = "/works/workInfo"
        }
        function studyFunction() {
            console.log("=== study function is called.");
            location.href = "/works/studyInfo"
        }
        function projectFunction() {
            console.log("=== project function is called.");
            location.href = "/works/projectInfo"
        }
    </script>
</html>