<!DOCTYPE html>
<html lang="UTF-8">
<script src="/js/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <form id="signUpForm">
        <div>
            <input type="text" id="inputName" name="inputName">
            <label for="inputName">Name</label>
        </div>
        <div>
            <input type="email" id="inputEmail" name="inputEmail">
            <label for="inputEmail">Email</label>
        </div>
        <div>
            <input type="password" id="inputPassword" name="inputPassword">
            <label for="inputPassword">Password</label>
        </div>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
<script type="text/javascript">
    $("#signUpForm").submit(function(){
        console.log("== form-signUp is submited.")
        $("#signUpForm").attr('action','/main/signUpProcess')
        // $("#signUpForm").attr('action','/mains/api/v1/signUp')

        $("#signUpForm").attr('method','POST')
    })
</script>